<div class="col-sm-12">
  <article id="sobre-mim" class="row">
    <h1>Sobre Mim</h1>
    <div>
      O que somos hoje e o que seremos amanhã depende de nossos pensamentos. Se procedo mal, sofro as consequências; se procedo bem, eu mesmo me purifico.
    </div>
  </article>
</div>
<section id="artigos" class="row">
  <div class="col-md-6" *ngFor="let artigo of artigos;">
    <div class="p-3"></div>
    <article id="card artigo">
      <div class="card-block">
        <h2 class="card-title">{{artigo.titulo}}</h2>
        <p class="card-text">
          {{artigo.resumo}}
        </p>
        <button class="btn btn-secondary btn-sm" [routerLink]="['/artigo', artigo.id]">Ler mais...</button>
      </div>
    </article>
  </div>
</section>
<!-- Component CONTATO -->
<app-contato></app-contato>